[Desktop Entry]
Name=Ping Monitor
Comment=Monitor your ping
Keywords=ping;network;monitor;
Exec=run.sh
Icon=io.github.sigmasd.pingmonitor
Type=Application
Categories=Utility;
